[Unit]
Description=DELL_S2725HS updater
After=syslog.target network.target

[Service]
Type=oneshot
User=dells2725hs
WorkingDirectory=/opt/dells2725hs
ExecStart=/opt/dells2725hs/venv/bin/python scripts/update-service
Environment=PYTHONPATH=/opt/dells2725hs/app
StandardOutput=journal
StandardError=journal
SyslogIdentifier=dells2725hs-update-svc
TimeoutSec=900
KillSignal=SIGKILL

[Install]
WantedBy=local-fs.target
