[Unit]
Description=DELL_S2725HS - Display
BindsTo=nginx.service
After=syslog.target network.target nginx.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=dells2725hs
WorkingDirectory=/opt/dells2725hs
ExecStart=/opt/dells2725hs/venv/bin/python app/main.py
Environment=APP_SETTINGS_FILE=/home/dells2725hs/app_settings.cfg
Restart=always

[Install]
WantedBy=multi-user.target
